.top-nav-container {
    display: flex;
    justify-content: flex-start
}

a {
    text-decoration: none;
}

.top-nav-item {
    flex: 1;
    padding: 30px 20px;
    background-color: burlywood;
    text-align: center;
}

.top-nav-item>a {
    padding: 20px 40px;
    background-color: #dedede;
    cursor: pointer;
    color: #8a5454;
    font-weight: 600;
}

.top-nav-item>a:hover {
    padding: 20px 40px;
    background-color: #455bfa;
    color : white;
    font-weight: 600;
}